<a href="https://colab.research.google.com/github/marimartignago/analise_exploratoria_dados/blob/main/desafio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aquecendo

Usando o dataset 1, registre suas impressões iniciais em um documento e em seguida trabalhe nos itens a seguir. 

**01- Dataset e seu contexto**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

dataset1 = pd.read_csv('/content/drive/MyDrive/Tera/dataset1.csv', encoding='ISO-8859-1')



**Quantas linhas e quantas colunas esse dataset possui?**

In [ ]:
dataset1.shape

(106, 11)

**Faça um dicionário das colunas contendo o nome da coluna, o tipo do dado, e seu significado.**

In [ ]:
dataset1.columns

Index(['Id', 'Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher',
       'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

**Analise o seu dicionário e adicione mais uma informação. Tipo da variável: Categórica ou Quantitativa. Acrescente ainda as subdivisões:**

**- Categórica: Binária, Nominal, Ordinal**

**- Quantitativa: Discreta, Contínua**

Id: categórica ordinal </br>
Name: categórica nominal</br>
Platform: categórica nominal</br>
Year_of_Release: categórica ordinal</br>
Genre: categórica nominal</br>
Publisher: categórica nominal</br>
NA_Sales:  discreta</br>
EU_Sales:discreta</br>
JP_Sales: discreta</br>
Other_Sales:discreta</br>
Global_Sales:discreta

**Explique como esse Dataset pode ter sido coletado e descreva:**

**- possíveis fontes para esse dataset** </br>
loja de games, com cadastro manual de jogos.

**- potenciais transformações desde a fonte até a disponibilização do dataset**</br>
definir melhor algumas colunas (permitir que o campo data seja escrito de uma única maneira; padronizar o tipo de resposta, o input); unidade de medida para as colunas de sales. 

**Aponte possíveis vieses de coleta** </br>
Viés de seleção:  Quando a amostra de unidades usada para uma análise estatística é limitada de alguma maneira por processos não aleatórios, existe a possibilidade de viés de seleção.

**02. Validação de dados e entendimento das variáveis**

In [ ]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               106 non-null    int64
 1   Name             105 non-null    object
 2   Platform         97 non-null     object
 3   Year_of_Release  105 non-null    object
 4   Genre            105 non-null    object
 5   Publisher        105 non-null    object
 6   NA_Sales         105 non-null    object
 7   EU_Sales         105 non-null    object
 8   JP_Sales         101 non-null    object
 9   Other_Sales      105 non-null    object
 10  Global_Sales     77 non-null     object
dtypes: int64(1), object(10)
memory usage: 9.2+ KB

**Quantos registros faltantes (dados nulos) por coluna?**

In [ ]:
 dataset1.isnull().sum()

Id                  0
Name                1
Platform            9
Year_of_Release     1
Genre               1
Publisher           1
NA_Sales            1
EU_Sales            1
JP_Sales            5
Other_Sales         1
Global_Sales       29
dtype: int64

**Avalie a unicidade dos dados. Há duplicatas de linhas?**

In [ ]:
dataset1.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
101    False
102    False
103    False
104    False
105    False
Length: 106, dtype: bool

In [ ]:
dataset1.drop_duplicates()

      Id                                    Name  ... Other_Sales Global_Sales
0      1                              Wii Sports  ...        8.45        82.53
1      2                       Super Mario Bros.  ...        0.77        40.24
2      3                          Mario Kart Wii  ...        3.29        35.52
3      4                       Wii Sports Resort  ...        2.95        32.77
4      5                Pokemon Red/Pokemon Blue  ...         1,0        31.37
..   ...                                     ...  ...         ...          ...
101   96  Crash Bandicoot 2: Cortex Strikes Back  ...        0.31          NaN
102   97     Super Smash Bros. for Wii U and 3DS  ...        0.48          NaN
103   98                    Super Mario Galaxy 2  ...        0.62          NaN
104   99                     Super Mario Bros. 2  ...        0.19         7.46
105  100               Call of Duty: Black Ops 3  ...        0.68         7.39

[101 rows x 11 columns]

**Quantitativas: Valores mínimo e máximo. Média e desvio padrão. Mediana, P25 e P75**

In [ ]:
dataset1.describe()
#mean = média
#std = desvio padrão

               Id
count  106.000000
mean    51.443396
std     28.997892
min      1.000000
25%     26.250000
50%     52.500000
75%     77.750000
max    100.000000

In [ ]:
dataset1.median()

Id    52.5
dtype: float64

**Crie gráficos que te auxiliam a visualizar os itens anteriores.**

In [ ]:
plt.plot([Publisher], [NA_Sales])
plt.title('TÍTULO') #adicionando o título
plt.xlabel('Publisher') #definindo nome do eixo X
plt.ylabel('NA_Sales') #definindo nome do eixo Y

NameError: ignored

**Como está a distribuição dos dados? Existem valores discrepantes? Descreva o que pode significar.**

**Quais conclusões você pode tirar até aqui? Você está lidando com dados de qualidade? Existe alguma relação com a coleta? Há dados pessoais expostos?**

**03. Limpeza dos Dados**

Caso aplicável, dê uma tratativa para os seguintes itens e explique o motivo da solução aplicada.

Validade dos tipos dos dados;

Valores discrepantes;

Dados inconsistentes

# **Corrigindo a rota**

Compare os datasets dataset 1 e dataset 2. Quais são as maiores diferenças? O que você acha que pode ter acontecido?

Já o dataset 3 é uma extensão do dataset 2, combine-os e revise suas respostas dos passos anteriores (01, 02 e 03). De agora em diante, você usará apenas essa combinação de datasets (dataset 2 e dataset 3) e não mais o dataset 1.

Nota: Não sobrescreva as suas anotações dos passos 01, 02 e 03 para o dataset 1. Você irá responder novamente esses passos com as características desse novo dataset (dataset 2 + dataset 3). Crie um novo documento ou uma nova aba ou apenas uma nova seção. Independentemente da sua abordagem, garanta que você tenha documentado todos os passos do desafio.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

dataset3 = pd.read_csv('/content/drive/MyDrive/Tera/dataset3.csv')

In [ ]:
dataset3.shape

(16719, 12)

In [ ]:
dataset3.columns

Index(['Id', 'Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher',
       'Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Developer',
       'Rating'],
      dtype='object')

In [ ]:
dataset3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               16719 non-null  int64
 1   Name             16717 non-null  object
 2   Platform         16719 non-null  object
 3   Year_of_Release  16450 non-null  float64
 4   Genre            16717 non-null  object
 5   Publisher        16665 non-null  object
 6   Critic_Score     8137 non-null   float64
 7   Critic_Count     8137 non-null   float64
 8   User_Score       10015 non-null  object
 9   User_Count       7590 non-null   float64
 10  Developer        10096 non-null  object
 11  Rating           9950 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 1.5+ MB

In [ ]:
dataset3.describe()

                 Id  Year_of_Release  Critic_Score  Critic_Count    User_Count
count  16719.000000     16450.000000   8137.000000   8137.000000   7590.000000
mean    8360.000000      2006.487356     68.967679     26.360821    162.229908
std     4826.503911         5.878995     13.938165     18.980495    561.282326
min        1.000000      1980.000000     13.000000      3.000000      4.000000
25%     4180.500000      2003.000000     60.000000     12.000000     10.000000
50%     8360.000000      2007.000000     71.000000     21.000000     24.000000
75%    12539.500000      2010.000000     79.000000     36.000000     81.000000
max    16719.000000      2020.000000     98.000000    113.000000  10665.000000

In [ ]:
 dataset3.isnull().sum()

Id                    0
Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64